    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
    <title>{{ pageTitle }}</title>
    
<h1>Fun, fun, fun</h1>
<hr>
<div class="pinkie">
<svg height="400" width="1250">
  <image xlink:href="assets\images\pinkie.png" height="120" >
    <animateMotion dur="4s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
    <image xlink:href="assets\images\pinkie.png" height="150" >
    <animateMotion dur="6s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
    <image xlink:href="assets\images\pinkie.png" height="80" >
    <animateMotion dur="7s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie.png" height="50" >
    <animateMotion dur="2s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie.png" height="60" >
    <animateMotion dur="10s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie.png" height="80" >
    <animateMotion dur="3s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie.png" height="160" >
    <animateMotion dur="14s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>

  <image xlink:href="assets\images\pinkie2.png" height="120" >
    <animateMotion dur="4.5s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
    <image xlink:href="assets\images\pinkie2.png" height="150" >
    <animateMotion dur="6.5s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
    <image xlink:href="assets\images\pinkie2.png" height="80" >
    <animateMotion dur="7.5s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie2.png" height="50" >
    <animateMotion dur="2.5s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie2.png" height="60" >
    <animateMotion dur="10.5s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie2.png" height="80" >
    <animateMotion dur="3.5s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie2.png" height="160" >
    <animateMotion dur="5.5s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>

  <image xlink:href="assets\images\pinkie3.png" height="120" >
    <animateMotion dur="5s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
    <image xlink:href="assets\images\pinkie3.png" height="150" >
    <animateMotion dur="8s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
    <image xlink:href="assets\images\pinkie3.png" height="80" >
    <animateMotion dur="10s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie3.png" height="50" >
    <animateMotion dur="12s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie3.png" height="60" >
    <animateMotion dur="13s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie3.png" height="80" >
    <animateMotion dur="7s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>
      <image xlink:href="assets\images\pinkie3.png" height="160" >
    <animateMotion dur="2s" repeatCount="indefinite" calcMode="paced">
      <mpath xlink:href="#line" />
    </animateMotion>
  </image>


  <path id="line" d="M 0 150 Q 60 0 90 150 Q 150 0 180 150 Q 240 0 270 150 Q 330 0 360 150 Q 410 0 450 150 Q 490 0 540 150 Q 580 0 620 150 Q 680 0 710 150 Q 750 0 800 150 Q 840 0 890 150 Q 940 0 980 150 Q 1020 0 1070 150 Q 1110 0 1160 150 Q 1210 0 1250 150 " style="fill:none; stroke:none"></path>
</svg>

</div>
<hr>

<hr>
<img src="assets\images\moustache.png" alt="moustache" height="200px">

<script src="./../js/functions.js"></script>


